:root {
  --content-width: fit-content;
}

.fit-content {
  width: fit-content;
  padding-left: 15px;
  padding-right: 20px;
}

.inp {
  background-color: rgb(43, 42, 42);
}

.inp::placeholder {
  color: rgba(193, 196, 199, 0.836);
}
