:root {
  --content-width: fit-content;
}

.fit-content {
  width: fit-content;
  padding-left: 15px;
  padding-right: 20px;
}

.inp_name {
  /* background-color: rgb(43, 42, 42); */
  width: 20rem;
}

.inp_msg {
  width: 30rem;
}

.btn_send {
  font-weight: 500;
  font-size: x-large;
}

/* .inp::placeholder {
  color: rgba(193, 196, 199, 0.836);
} */
